extends layout

mixin auto-card(name, speed, cost)
  div.auto-buy.card.uk-margin-small-bottom.uk-flex.uk-flex-middle
    div.uk-flex.uk-flex-between.uk-flex-column.uk-height-1-1
      h3.uk-margin-remove= name
      p.uk-margin-remove 
        | $
        = speed 
        |  / sec
    h3.uk-margin-remove-top.uk-margin-remove-bottom.uk-margin-auto-left 
      | $
      = cost


block content
  div(uk-grid='').uk-height-1-1
    .uk-width-1-3.uk-flex.uk-flex-center.uk-flex-column
      div.uk-margin-medium-left
        h3 Total money / sec: $9999
        +auto-card('Lazy Worker', 1, 10)
        +auto-card('Steam-powered Clicker', 10, 150)
        +auto-card('Advanced Robo-clicker', 50, 800)
        +auto-card('Clickosaurus Rex', 100, 1500)
        +auto-card('Cheat-Machine', 1000, 20000)
    div.uk-width-1-3.uk-flex.uk-flex-middle.uk-flex-center.uk-flex-column
      h1.uk-margin-medium-bottom $1000
      button.click-button.uk-button.uk-button-default
        | Click
    div.uk-width-1-3
