doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://pagecdn.io/lib/uikit/3.5.5/css/uikit.min.css")
  body
    block content
    script(src="https://pagecdn.io/lib/uikit/3.5.5/js/uikit.min.js")
    script(src="https://pagecdn.io/lib/uikit/3.5.5/js/uikit-icons.min.js")
