body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100vh;
}

.click-button {
    width: 200px;
    height: 200px;
}

.click-button:active {
    background-color: #F0F0F0 !important;
    transition: none !important;
}

.worker {
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.worker:hover {
    border-color: #b2b2b2;
}

.worker:active {
    background-color: #F0F0F0;
    transition: none;
}

.card {
    border: 1px solid #e5e5e5;
}

.achievements {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    margin: 4rem;
}

.achievement {
    padding: 0.5rem;
    z-index: 1;
}